.compatibility {
   text-align: center;
   padding-top: 1.2rem;
   padding-bottom: 1.2rem;
   background-color: var(--sl-color-section);
   border-top: 1px solid var(--sl-color-header-border);
}

.compatibilityText {
   font-size: var(--sl-font-size-medium);
   color: var(--sl-color-gray-2);
}
