.supportCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: space-between;
   gap: 3rem;
   padding: 2.25rem;
   flex: 1;
   border-radius: 0.625rem;
}

.header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}

.body {
   display: flex;
   align-items: center;
   justify-items: center;
   flex: 1;
}

.img {
   height: 4.6875rem;
   filter: drop-shadow(var(--sl-drop-shadow-medium));
}

.title {
   font-size: var(--sl-font-size-large);
   font-weight: 600;
   color: var(--sl-color-white);
}
.text,
.link {
   text-align: center;
   font-size: var(--sl-font-size-medium);
   font-weight: 300;
   color: var(--sl-color-white);
}

.link {
   font-weight: 500;
   text-decoration: none;
   cursor: pointer;
   background-color: var(--sl-color-gray-7);
   border: 1px solid var(--sl-color-gray-5);
   border-radius: 0.625rem;
   padding: 0.625rem 1.25rem;
   transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
   user-select: none;
}
@media (hover: hover) and (pointer: fine) {
   .link:hover {
      background-color: var(--sl-color-gray-6);
      transition:
         background-color 0.2s ease-in-out,
         color 0.2s ease-in-out,
         border-color 0.2s ease-in-out;
   }
}

@media (max-width: 610px) {
   .text,
   .link {
      width: 100%;
   }
   .body {
      width: 100%;
   }
}
