/**
 * Butão do menu hamburguer
*/
.menuTrigger {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   background: none;
   cursor: pointer;
   color: var(--sl-color-gray-1);
}

/**
 * Conteudo do menu
*/
.menuBackground {
   position: absolute;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background-color: color-mix(in srgb, var(--sl-color-header-bg) 100%, transparent 80%);
}

/* Area do conteudo */
.menuContent {
   display: flex;
   flex-direction: column;
   width: 75%;
   max-width: 500px;
   height: 100vh;
   background-color: var(--sl-color-header-bg);
   box-shadow: var(--sl-drop-shadow);
   border-right: 1px solid var(--sl-color-header-border);
}

/* Header */
.menuContentHeader {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.25rem;
   border-bottom: 1px solid var(--sl-color-header-border);
}

.menuContentHeaderTitle {
   font-size: var(--sl-font-size-xlarge);
   font-weight: 500;
   color: var(--sl-color-header-text);
}
.menuContentHeaderClose {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   background: none;
   cursor: pointer;
   color: var(--sl-color-gray-1);
}

/* Body */
.menuContentBody {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   overflow-y: auto;
   padding: 1.25rem 0;
   /* gap: 0.325rem; */
}

/* Footer */
.menuContentFooter {
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 1.25rem;
   border-top: 1px solid var(--sl-color-header-border);
}
