/**
 * Conteudo do cabeçalho
*/
.headerContent {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   max-width: var(--sl-page-max-width);
   gap: 1.5625rem;
}

/* Logo */
.headerLogo {
   display: flex;
   align-items: center;
   gap: 0.9375rem;
   text-decoration: none;
}

.headerLogo img {
   height: 4.0625rem;
   padding: 0.9375rem 0;
}

.headerLogo p {
   font-family: var(--font-family-accent);
   font-size: var(--font-size-xlarge);
   font-weight: 600;
   letter-spacing: 0.0625rem;
   color: var(--sl-color-header-text);
}

/**
 * Conteudo do direita
*/
.headerRight {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-grow: 1;
}
