.productSectionTitle {
   text-align: center;
   font-family: var(--sl-font-family-accent);
   font-size: var(--sl-font-size-xxlarge);
   color: var(--sl-color-white);
   font-weight: 700;
   width: fit-content;
}
