:root {
   /* LAYOUT */
   --sl-page-max-width: 1400px;
   --sl-page-max-width-footer: 1400px; /*1435px; */
   --sl-page-max-width-hero: 1300px;
   --sl-page-padding: 90px;

   --sl-drop-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   --sl-drop-shadow-medium: 0 2px 4px rgba(0, 0, 0, 0.25);
   --sl-drop-shadow-large: 0 4px 8px rgba(0, 0, 0, 0.25);
   --sl-upper-shadow: 0 -1px 2px rgba(0, 0, 0, 0.25);
   --sl-inner-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);

   /* Colors */
   --sl-color-blue-high: #262e52;
   --sl-color-blue: #5b6bff;
   --sl-color-blue-low: #5b6bff;

   --sl-color-orange-high: #453933;
   --sl-color-orange: #ffb274;
   --sl-color-orange-low: #ffb274;

   --sl-color-purple-high: #3b2b52;
   --sl-color-purple: #ce64ff;
   --sl-color-purple-low: #ce64ff;

   --sl-color-yellow-high: #453933;
   --sl-color-yellow: #f6c94a;
   --sl-color-yellow-low: #f6c94a;

   --sl-color-red-high: #c23d3d;
   --sl-color-red: #fd6666;
   --sl-color-red-low: #fd6666;

   --sl-color-discord-high: #4550e9;
   --sl-color-discord: #5662f6;
   --sl-color-discord-low: #6b74f5;
   --sl-color-discord-bg: var(--sl-color-bg);

   /* REAL COLORS */
   --sl-color-white-real: #ffffff;

   /* FONTES */
   --sl-font-family-accent: 'Poppins', sans-serif;
   --sl-font-family-base: 'Inter', sans-serif;

   /* TAMANHOS */
   --sl-font-size-verysmall: 0.75rem;
   --sl-font-size-small: 0.875rem;
   --sl-font-size-base: 1rem;
   --sl-font-size-medium: 1.125rem;
   --sl-font-size-large: 1.25rem;
   --sl-font-size-xlarge: 1.5rem;
   --sl-font-size-xxlarge: 2rem;
   --sl-font-size-xxxlarge: 2.5rem;
   --sl-font-size-xxxxlarge: 3rem;

   /* HERO */
   --sl-hero-font-size-title: 4.375rem;
   --sl-hero-font-size-sub-title: 3.375rem;
   --sl-hero-font-size-description: var(--sl-font-size-large);
}

:root[data-theme='light'] {
   --sl-drop-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
   --sl-drop-shadow-medium: 0 1px 3px rgba(0, 0, 0, 0.05);
   --sl-drop-shadow-large: 0 2px 4px rgba(0, 0, 0, 0.05);
   --sl-upper-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
   --sl-inner-shadow: inset 0 0 1px transparent;

   --sl-color-bg: #ffffff;
   --sl-color-section: #f1f1f1;
   --sl-color-accent-low: #ffd7d7;
   --sl-color-accent: #ec5151;
   --sl-color-accent-high: #ec5151;
   --sl-color-white: #181818;
   --sl-color-gray-1: #303030;
   --sl-color-gray-2: #505050;
   --sl-color-gray-3: #808080;
   --sl-color-gray-4: #a5a5a5;
   --sl-color-gray-5: #c2c2c2;
   --sl-color-gray-6: #dadada;
   --sl-color-gray-7: #eeeeee;
   --sl-color-gray-8: #f1f1f1;
   --sl-color-gray-9: #fcfcfc;
   --sl-color-gray-10: #ffffff;
   --sl-color-black: #ffffff;

   --sl-color-product-card-bg: var(--sl-color-gray-9);
   --sl-color-product-card-border: var(--sl-color-gray-5);

   --sl-page-grid:
      repeating-linear-gradient(90deg, #edf2f7 0 1px, transparent 1px 40.5px), repeating-linear-gradient(0deg, #edf2f7 0 1px, transparent 1px 40.5px);

   /* Colors */
   --sl-color-blue-high: #5b6bff;
   --sl-color-blue: #5b6bff;
   --sl-color-blue-low: #262e52;

   --sl-color-orange-high: #ffb274;
   --sl-color-orange: #ffb274;
   --sl-color-orange-low: #453933;

   --sl-color-purple-high: #ce64ff;
   --sl-color-purple: #ce64ff;
   --sl-color-purple-low: #3b2b52;

   --sl-color-yellow-high: #f6c94a;
   --sl-color-yellow: #f6c94a;
   --sl-color-yellow-low: #453933;

   --sl-color-red-high: #fd6666;
   --sl-color-red: #fd6666;
   --sl-color-red-low: #da5454;

   --sl-color-discord-high: #5662f6;
   --sl-color-discord: #5662f6;
   --sl-color-discord-low: #4550e9;

   --sl-color-header-bg: #fcfcfc;
   --sl-color-header-border: var(--sl-color-gray-5);
   --sl-color-header-text: var(--sl-color-gray-1);

   --sl-color-scrollbar-bg: #f5f5f5;
   --sl-color-scrollbar-thumb: #cacaca;
   --sl-color-scrollbar-thumb-hover: #979797;
}

:root[data-theme='dark'] {
   --sl-color-bg: #1c212a;
   --sl-color-section: #181c24;
   --sl-color-accent-high: #ff474a;
   --sl-color-accent: #f35b5e;
   --sl-color-accent-low: #ec4f51;
   --sl-color-white: #ffffff;
   --sl-color-gray-1: #f0f2f6;
   --sl-color-gray-2: #d1d8e2;
   --sl-color-gray-3: #a3adbd;
   --sl-color-gray-4: #6a7587;
   --sl-color-gray-5: #4d5665;
   --sl-color-gray-6: #353d4c;
   --sl-color-gray-7: #252d38;
   --sl-color-gray-8: #1f2630;
   --sl-color-gray-9: #1c212a;
   --sl-color-gray-10: #181c24;
   --sl-color-black: #1c212a;

   --sl-color-product-card-bg: var(--sl-color-gray-7);
   --sl-color-product-card-border: var(--sl-color-gray-5);

   --sl-page-grid:
      repeating-linear-gradient(90deg, #222833 0 1px, transparent 1px 40.5px), repeating-linear-gradient(0deg, #222833 0 1px, transparent 1px 40.5px);

   --sl-color-header-bg: #1b2028;
   --sl-color-header-border: var(--sl-color-gray-5);
   --sl-color-header-text: var(--sl-color-gray-1);

   --sl-color-divider: var(--sl-color-gray-5);

   --sl-color-scrollbar-bg: #252b36;
   --sl-color-scrollbar-thumb: #4d5665;
   --sl-color-scrollbar-thumb-hover: #5a6373;
}

@media (max-width: 1024px) {
   :root {
      --sl-page-padding: 1.25rem;
      --sl-page-max-width-footer: var(--sl-page-max-width);
   }
}
/* Tablet */
@media (max-width: 768px) {
   :root {
      /* HERO */
      --sl-hero-font-size-title: 60px;
      --sl-hero-font-size-sub-title: 44px;
      --sl-hero-font-size-description: 16.5px;
   }
}

/**
 * TESTES
*/
.teste {
   background-color: red;
}

/**
 * RESET
 */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   -webkit-tap-highlight-color: transparent;
}

/**
 * ESTILOS GERAIS
 */
body {
   background-color: var(--sl-color-bg);
}

img,
svg {
   user-select: none;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--sl-font-family-base);
   color: var(--sl-color-white);
}

p {
   font-size: var(--sl-font-size-base);
}

h1 {
   font-size: var(--sl-font-size-xxxxlarge);
}
h2 {
   font-size: var(--sl-font-size-xxxlarge);
}
h3 {
   font-size: var(--sl-font-size-xxlarge);
}
h4 {
   font-size: var(--sl-font-size-xlarge);
}
h5 {
   font-size: var(--sl-font-size-large);
}
h6 {
   font-size: var(--sl-font-size-medium);
}

/* Customização da barra de rolagem */
::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}

::-webkit-scrollbar-track {
   background: var(--sl-color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
   background: var(--sl-color-scrollbar-thumb);
   /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
   background: var(--sl-color-scrollbar-thumb-hover);
}
