/**
 * Item
*/
.headerNavItem {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.headerNavItem.active {
   border-bottom: 1px solid var(--sl-color-accent-high);
}

.headerNavItemContent {
   position: relative;
}

/**
 * Item trigger
 */
.headerNavTrigger {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   height: fit-content;
   padding: 0.625rem 1rem;
   gap: 0.1875rem;
   background: none;
   border: none;
   user-select: none;
   border-radius: 8px;
}
.headerNavItemContent:hover .headerNavTrigger,
.headerNavTrigger:hover {
   background-color: var(--sl-color-gray-7);
   border: 1px solid var(--sl-color-gray-6);
}

/* Item */
.headerNavTriggerText {
   text-decoration: none;
   font-size: var(--sl-font-size-base);
}

/* Icon */
.headerNavTriggerIcon {
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--sl-color-gray-1);
   width: var(--sl-font-size-base);
   height: var(--sl-font-size-base);
   transition: transform 0.2s ease-in-out;
}

.headerNavItemContent:hover .headerNavTrigger[data-state='open'] .headerNavTriggerIcon {
   transform: rotate(180deg);
}

/**
 * Conteudo
*/
.headerNavContent {
   --sl-local-distance: 10px;
   top: 100%;
   position: absolute;
   padding-top: var(--sl-local-distance);
   z-index: 1;
   translate: -50% 0;
   left: 50%;
}

.headerNavContentArrow {
   position: absolute;
   width: 10px;
   height: 10px;
   background-color: var(--sl-color-header-border);
   border-radius: 50%;
   top: calc(var(--sl-local-distance) / 2);
   right: 50%;
   z-index: 0;
}

.navLinkMenuItemsContent {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.5rem;
   padding: 15px;
   background-color: var(--sl-color-bg);
   border: 1px solid var(--sl-color-header-border);
   box-shadow: var(--sl-drop-shadow), var(--sl-inner-shadow);
   border-radius: 8px;
   min-width: 330px;
   z-index: 1;
}

.navLinkMenuItemsContentTitle {
   font-size: var(--sl-font-size-small);
   color: var(--sl-color-gray-2);
   font-weight: 500;
   margin-bottom: 5px;
}
