.headerNav {
   display: flex;
   align-items: stretch;
   height: 100%;
}
/**
 * Items
*/
.headerNavItems {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style-type: none;
   gap: 0.3125rem;
   height: 100%;
}
