.themeToggle {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   background: transparent;
   cursor: pointer;
   font-size: var(--sl-font-size-xlarge);
   color: var(--sl-color-gray-1);
}

.themeToggle:hover {
   color: var(--sl-color-accent-high);
}
