/**
 * Cabeçalho
*/
.header {
   position: sticky;
   top: 0;
   z-index: 100;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: color-mix(in srgb, var(--sl-color-header-bg) 90%, transparent 10%);
   border-bottom: 1px solid var(--sl-color-header-border);
   backdrop-filter: blur(3px);
   padding: 0 var(--sl-page-padding);
   min-height: 80px;
   box-shadow: var(--sl-drop-shadow);
}
