.readySection {
   padding-top: 70px;
   padding-bottom: 40px;
}

.readyContent {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   align-items: center;
   text-align: center;
   margin-bottom: 2rem;

   background: linear-gradient(135deg, var(--sl-color-bg), var(--sl-color-gray-8));
   border-radius: 0.625rem;
   padding: 3rem;
   box-shadow: var(--sl-drop-shadow-large);
   border: 1px solid var(--sl-color-header-border);
}

.buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1rem;
   width: 100%;
}
