.linkWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.link {
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   height: fit-content;
   padding: 0.625rem 1rem;
   font-size: var(--sl-font-size-base);
   text-wrap: nowrap;
   border-radius: 8px;
   user-select: none;
}
.link:hover {
   background-color: var(--sl-color-gray-7);
   border: 1px solid var(--sl-color-gray-6);
}

.linkWrapper:has(.link.active) {
   border-bottom: 1px solid var(--sl-color-accent-high);
}
